h1 Hello and welcome!
p Thankyou  #{firstname}! for registering with emumba please verify your email address by copy and pasting this link in a new tab #{host}/api/v1/verify-email?token=#{token} 
h1 ACCOUNT VERIFICATION IS MUST BEFORE LOGGING INTO THE SYSTEM
p Please click on the link below to verify your account 
a(href="http://#{host}/#{token}") Verify Account